@model Challenges.Models.IndexViewModel
@using Challenges.Helpers

@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <tr>
        <td>  Название  </td>
        <td>  Дата начала  </td>
        <td>  Дата окончания  </td>
    </tr>
    @foreach (var item in Model.Challenges)
    {
    <tr>
    <td>  @item.Name  </td>
    <td>  @item.StartDate.ToShortDateString()  </td>
    <td>  @item.EndDate.ToShortDateString()  </td>
    </tr>
    }
    </table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
